nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(145, 145, 153);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  list-style: none;
}

li {
  padding-left: 4vh;
}

.homepage {
  text-align: center;
}

.btn {
  align-items: center;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.center {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error-message {
  color: red;
}
